@import '../variables';

.qa-header-container {
    height: 5em;
    position: absolute;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
    top: 0;
}

.header-else {
  h1 {
    font-weight: normal;
    font-size: 20pt;
  }
}
