@import '../variables';

:host {
  width: 100%;
  height: calc(100% - #{$header-height});
  display: block;
  position: absolute;
  margin-top: 5em;
  overflow: auto;
}

.account-statement-container {
    padding-left: 5%;
}
