<div class="card-container">
  <div class="card-header">
    <i class="material-icons">credit_card</i>
    <span><strong>{{card.alias}}</strong></span>
  </div>
  <span>{{card.number}}</span>
  <span><strong>{{'AVAILABLE' | translate}}: {{card.availableBalance}} {{card.currency}}</strong></span>
  <span *ngIf="card.disposedBalance">{{'DISPOSED_BALANCE' | translate}}: {{card.disposedBalance}} {{card.currency}}</span>
  <span *ngIf="card.grantedCredit">{{'GRANTED_CREDIT' | translate}}: {{card.grantedCredit}} {{card.currency}}</span>
</div>