$primary-color: #cf022d;
$secondary-color: #33658A;
$tertiary-color: #f07d00;

$focus-color: #589c00;

$button-active-color: #2F4858;
$button-disabled-color: #cecece;

$warning-background-color: #dcdcdc;
$warning-message-color: #2B9EB3;

$header-height: 5em;
